.footer-include {
	text-align: center;
	margin-top: 10px;
}

.form-div {
	text-align: center;
	margin-top: 20px;
}

.input-box {
	width: 70%;
}

#transport-rate {
	font-size: 15px;
}

.radio-box {
	display: inline-block;
	margin-left: 20px;
}
